/* This is the Login Stylesheet */

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
}

header {
  position: fixed;
  background-color: blue;
  color: white;
  height: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  align-content: center;
}

form {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

fieldset {
  border: 1px solid rgb(175, 170, 170);
  border-radius: 10px;
}

legend {
  color: blue;
  font-family: coonsolas, monospace;
  font-weight: bold;
  font-size: smaller;
}

label {
  font-family: monospace;
  color: blue;
}

input[type="email"],
input[type="password"] {
  caret-color: blue;
  outline: none;
  cursor: pointer;
  width: 300px;
  border: 1px solid rgb(230, 232, 233);
  padding: 10px;
  border-radius: 20px;
  margin: 7px;
}

input[type="submit"] {
  margin-left: 40%;
  background-color: blue;
  color: white;
  border: none;
  padding: 5px;
  font-family: monospace;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.9s;
}
input[type="submit"]:hover {
  background-color: navy;
  color: grey;
}

::placeholder {
  color: rgb(209, 204, 204);
  font-family: monospace;
  font-weight: bold;
  font-size: smaller;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
}
.redirection {
  margin-left: 20%;
  font-size: small;
}
.forgot-pass-link {
  margin-left: 35%;
  font-size: small;
  color: blue;
}

footer {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: blue;
  text-align: center;
  align-content: center;
  color: white;
  font-size: smaller;
  font-weight: normal;
}
